<ion-content>
  <ion-title> {{ accion.titulo }} </ion-title>
  <!-- <ion-input *ngFor="let fila of filas; let i = index" position="fixed" placeholder="(Frase final)" [disabled]="deTipoFilaABoolean(fila.tipo)" [value]="textoFilas[i]"></ion-input> -->
  <!-- <ion-input *ngIf="asistenteInicial" position="fixed" disabled>{{ asistenteInicial }},</ion-input> -->
  <ion-input *ngIf="asistenteInicial" position="fixed" disabled [value]="asistenteInicial + ','"></ion-input>
  <ion-input *ngFor="let fila of filas; let i = index" position="fixed" [disabled]="deTipoFilaABoolean(fila.tipo)" [(ngModel)]="fila.texto"></ion-input>
  <ion-input *ngIf="asistenteFinal" position="fixed" disabled [value]="asistenteFinal"></ion-input>
  <ion-button expand="block" (click)="reproducirTexto()">Crear perfil</ion-button>
</ion-content>