<ion-content *ngIf="modoAccion == 1 && !cargando"
  [scrollEvents]="true"
  (ionScrollStart)="logScrollStart()"
  (ionScroll)="logScrolling($event)"
  (ionScrollEnd)="logScrollEnd()"> <!-- ver -->
  <section *ngIf="configuracion.modo_simple == 0">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button expand="block" (click)="cambiaAModoEditar()">
            Editar
            <ion-icon slot="end" name="create-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" color="danger" (click)="ventanaBorrarAccion()">
            Borrar
            <ion-icon slot="end" name="trash-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
  <div style="padding: 0em 0.5em; border-bottom: 1px solid gray; text-align: center;">
    <h2 *ngIf="configuracion.modo_simple == 0"> {{ accion.titulo }} <span *ngIf="accion.imagen">{{ accion.imagen }}</span> </h2>
    <p (click)="diTTS(accion.titulo)" *ngIf="configuracion.modo_simple == 1 && accion.imagen" style="font-size: 32px;">{{ accion.imagen }}</p>
  </div>

  <ion-item *ngIf="configuracion.modo_simple == 0 && asistente.inicial">
    <ion-input disabled [value]="asistente.inicial + ','"></ion-input>
    <ion-button slot="end" (click)="asistente.inicial = ''"><ion-icon name="close-outline"></ion-icon></ion-button>
  </ion-item>
  <ion-item *ngIf="configuracion.modo_simple == 1 && asistente.inicial">
    <div (click)="diTTS(asistente.inicial)">{{emojiString.emojisOrText(asistente.inicial)}}</div>
    <ion-button slot="end" (click)="asistente.inicial = ''"><ion-icon name="close-outline"></ion-icon></ion-button>
  </ion-item>

  <div *ngFor="let fila of filas; let i = index" style="padding: 0.5em 0em; border-bottom: 1px solid lightgray;">
    <ion-item *ngIf="configuracion.modo_simple == 0" no-lines lines="none">
      <ion-input *ngIf="fila.tipo == 1" placeholder="Fila fija" [disabled]="deTipoFilaABoolean(fila.tipo)" [(ngModel)]="fila.texto"></ion-input>
      <ion-input *ngIf="fila.tipo == 2" placeholder="Fila editable" [disabled]="deTipoFilaABoolean(fila.tipo)" [(ngModel)]="fila.texto"></ion-input>
      <ion-button *ngIf="fila.tipo == 1" slot="end" (click)="filas.splice(i, 1)"><ion-icon name="close-outline"></ion-icon></ion-button>
      <ion-button *ngIf="fila.tipo == 2" slot="end" (click)="fila.texto=''"><ion-icon name="close-outline"></ion-icon></ion-button>
    </ion-item>
    <ion-item *ngIf="configuracion.modo_simple == 1" no-lines lines="none">
      <div (click)="diTTS(fila.texto)">{{ emojiString.emojisOrText(fila.texto) }}</div>
      <ion-button *ngIf="fila.tipo == 1" slot="end" (click)="filas.splice(i, 1)"><ion-icon name="close-outline"></ion-icon></ion-button>
      <ion-button *ngIf="fila.tipo == 2" slot="end" (click)="fila.texto=''"><ion-icon name="close-outline"></ion-icon></ion-button>
    </ion-item>
    
    <ion-chip *ngFor="let sugerencia of fila.sugerencias" (click)="fila.texto = sugerencia.texto">
      <ion-label *ngIf="configuracion.modo_simple == 0">{{ sugerencia.texto }}</ion-label>
      <ion-label (click)="diTTS(sugerencia.texto)" *ngIf="configuracion.modo_simple == 1">{{ emojiString.emojisOrText(sugerencia.texto) }}</ion-label>
    </ion-chip>
  </div>

  <ion-item *ngIf="configuracion.modo_simple == 0 && asistente.final">
    <ion-input disabled [value]="asistente.final"></ion-input>
    <ion-button slot="end" (click)="asistente.final = ''"><ion-icon name="close-outline"></ion-icon></ion-button>
  </ion-item>
  <ion-item *ngIf="configuracion.modo_simple == 1 && asistente.final">
    <div (click)="diTTS(asistente.final)">{{emojiString.emojisOrText(asistente.final)}}</div>
    <ion-button slot="end" (click)="asistente.final = ''"><ion-icon name="close-outline"></ion-icon></ion-button>
  </ion-item>

  <section style="text-align: center;">
    <ion-button *ngIf="configuracion.modo_simple == 0" (click)="closePopover()">
      Cancelar
      <ion-icon slot="end" name="close-outline"></ion-icon>
    </ion-button>
    <ion-button *ngIf="configuracion.modo_simple == 1" (click)="diTTS('Cancelar'); closePopover();">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>

    <ion-button *ngIf="configuracion.modo_simple == 0" (click)="reproducirTexto()">
      Reproducir
      <ion-icon slot="end" name="play-outline"></ion-icon>
    </ion-button>
    <ion-button *ngIf="configuracion.modo_simple == 1" (click)="reproducirTexto()">
      <ion-icon name="play-outline"></ion-icon>
    </ion-button>
  </section>
</ion-content>

<ion-content *ngIf="(modoAccion == 2 || modoAccion == 3) && !cargando"> <!-- editar o crear -->
  <section style="text-align: center; border-bottom: 1px solid lightgray;">
    <ion-input [(ngModel)]="accion.imagen" placeholder="Emoji"></ion-input>
  </section>
  <section style="text-align: center; border-bottom: 1px solid lightgray;">
    <ion-input [(ngModel)]="accion.titulo" placeholder="Nueva acción"></ion-input>
  </section>
  <section style="text-align: center;">
    <ion-item *ngFor="let fila of filas">
      <ion-button size="small" (click)="mueveFilaArriba(fila.id)">
        <ion-icon name="arrow-up"></ion-icon>
      </ion-button>
      <ion-button size="small" (click)="mueveFilaAbajo(fila.id)">
        <ion-icon name="arrow-down"></ion-icon>
      </ion-button>
      <ion-input *ngIf="fila.tipo == 1" placeholder="Fila fija" [(ngModel)]="fila.texto" [ngStyle]="{ 'color': colorDependiendoDelTipo(fila.tipo) }"></ion-input>
      <ion-input *ngIf="fila.tipo == 2" disabled placeholder="Fila editable" [(ngModel)]="fila.texto" [ngStyle]="{ 'color': colorDependiendoDelTipo(fila.tipo) }"></ion-input>
      <ion-button size="small" (click)="borraFila(fila.id)">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </section>
  <section style="text-align: center;">
    <ion-button (click)="creaFila('f')">
      Fija
      <ion-icon slot="end" name="add-outline"></ion-icon>
      <ion-icon slot="end" name="lock-closed-outline"></ion-icon>
    </ion-button>
    <ion-button (click)="creaFila('t')">
      Editable
      <ion-icon slot="end" name="add-outline"></ion-icon>
      <ion-icon slot="end" name="lock-open-outline"></ion-icon>
    </ion-button>
  </section>
  <section style="text-align: center; margin-top: 1em;">
    <ion-button *ngIf="modoAccion == 2" (click)="cambiaAModoVer()">
      Cancelar
      <ion-icon slot="end" name="close-outline"></ion-icon>
    </ion-button>
    <ion-button *ngIf="modoAccion == 3" (click)="closePopover()">
      Cancelar
      <ion-icon slot="end" name="close-outline"></ion-icon>
    </ion-button>
    <ion-button *ngIf="modoAccion == 2" (click)="editaAccion()">
      Guardar
      <ion-icon slot="end" name="save-outline"></ion-icon>
    </ion-button>
    <ion-button *ngIf="modoAccion == 3" (click)="creaAccion()">
      Crear
      <ion-icon slot="end" name="checkmark-outline"></ion-icon>
    </ion-button>
  </section>
</ion-content>

<ion-content *ngIf="cargando">
  <div style="text-align: center;">
    <ion-spinner style="width: 100px; height: 100px; margin: 10px;" name="crescent"></ion-spinner>
  </div>
</ion-content>