<ion-content *ngIf="modoAccion == 1"> <!-- ver -->
  <section style="text-align: right;">
    <ion-button slot="end" *ngIf="accion.tipo == 3" (click)="cambiaAModoEditar()">
      <ion-icon name="create-outline"></ion-icon>
    </ion-button>
    <ion-button color="danger" slot="end" *ngIf="accion.tipo == 3" (click)="ventanaBorrarAccion()">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button>
  </section>
  <h2> {{ accion.titulo }} </h2>

  <ion-item *ngIf="asistente.inicial">
    <ion-input disabled [value]="asistente.inicial + ','"></ion-input>
  </ion-item>
  <div *ngFor="let fila of filas; let i = index" style="padding: 0.5em 0em; border-bottom: 1px solid lightgray;">
    <ion-item no-lines lines="none">
      <ion-input *ngIf="fila.tipo == 1" placeholder="Fila fija" [disabled]="deTipoFilaABoolean(fila.tipo)" [(ngModel)]="fila.texto"></ion-input>
      <ion-input *ngIf="fila.tipo == 2" placeholder="Fila temporal" [disabled]="deTipoFilaABoolean(fila.tipo)" [(ngModel)]="fila.texto"></ion-input>
      <ion-button slot="end" (click)="fila.texto=''"><ion-icon name="close-outline"></ion-icon></ion-button>
    </ion-item>
    
    <ion-chip *ngFor="let sugerencia of fila.sugerencias" (click)="fila.texto = sugerencia.texto">
      <ion-label>{{ sugerencia.texto }}</ion-label>
    </ion-chip>
  </div>
  <ion-item *ngIf="asistente.final">
    <ion-input disabled [value]="asistente.final"></ion-input>
  </ion-item>

  <section style="text-align: center;">
    <ion-button (click)="closePopover()">Cancelar</ion-button>
    <ion-button (click)="reproducirTexto()">Reproducir</ion-button>
  </section>
</ion-content>

<ion-content *ngIf="modoAccion == 2 || modoAccion == 3"> <!-- editar o crear -->
  <section style="text-align: center;">
    <ion-input [(ngModel)]="accion.titulo" placeholder="Nueva acción"></ion-input>
  </section>
  <section style="text-align: center;">
    <ion-item *ngFor="let fila of filas">
      <ion-button size="small" (click)="mueveFilaArriba(fila.id)">
        <ion-icon name="arrow-up"></ion-icon>
      </ion-button>
      <ion-button size="small" (click)="mueveFilaAbajo(fila.id)">
        <ion-icon name="arrow-down"></ion-icon>
      </ion-button>
      <ion-input *ngIf="fila.tipo == 1" placeholder="Fila fija" [(ngModel)]="fila.texto" [ngStyle]="{ 'color': colorDependiendoDelTipo(fila.tipo) }"></ion-input>
      <ion-input *ngIf="fila.tipo == 2" placeholder="Fila temporal" [(ngModel)]="fila.texto" [ngStyle]="{ 'color': colorDependiendoDelTipo(fila.tipo) }"></ion-input>
      <ion-button size="small" (click)="borraFila(fila.id)">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </section>
  <section style="text-align: center;">
    <ion-button (click)="creaFila('f')">
      <ion-icon slot="start" name="add-outline"></ion-icon>
      Fija
    </ion-button>
    <ion-button (click)="creaFila('t')">
      <ion-icon slot="start" name="add-outline"></ion-icon>
      Temporal
    </ion-button>
  </section>
  <section style="text-align: center;">
    <ion-button (click)="closePopover()">Cancelar</ion-button>
    <ion-button *ngIf="modoAccion == 2" (click)="editaAccion()">Guardar</ion-button>
    <ion-button *ngIf="modoAccion == 3" (click)="creaAccion()">Crear</ion-button>
  </section>
</ion-content>