<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-icon slot="start" name="settings-outline"></ion-icon>
      <ion-label>Perfiles</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="settings-outline"></ion-icon>
      <ion-label>Accesibilidad</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="settings-outline"></ion-icon>
      <ion-label>Preferencias</ion-label>
    </ion-item>
  </ion-list>
  
  
</ion-content>
