<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sobre nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item><h1>Action speech</h1></ion-item>
  <p style="margin: 40px 20px">Proyecto realizado en la Universidad de Alicante</p>
  <p style="margin: 40px 20px">Hecho por Carlos Santiago (<a href="https://carlosbsp.com">Porfolio<ion-icon name="open-outline"></ion-icon></a>)</p>
  <p style="margin: 40px 20px">Tutorizado por Sergio Luján y Santiago Melia</p>
</ion-content>
