<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sobre nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item><h1>SpeakApp</h1></ion-item>
  <p style="margin: 40px 20px;">
    Aplicación que pretende facilitar la comunicación usuario-asistente a aquellas personas con dificultades para hablar.
    <br><br>Proyecto de fin de grado de Ingeniería Multimedia realizado en la Universidad de Alicante.
    <br><br>Desarrollado por Carlos Santiago <span style="white-space: nowrap;">(<a href="https://carlosbsp.com">Porfolio<ion-icon name="open-outline"></ion-icon></a>).</span> Tutorizado por Sergio Luján y Santiago Melia
  </p>
</ion-content>
