<ion-header>
  <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button *ngIf="configuracion.modo_simple == 0" color="primary" menu="menuPrincipal"></ion-menu-button>
          <ion-menu-button *ngIf="configuracion.modo_simple == 1" color="primary" menu="menuPrincipal" (click)="diTTS('Menú')"></ion-menu-button>
        </ion-buttons>
        <ion-title *ngIf="configuracion.modo_simple == 0">SpeakApp</ion-title>
        <ion-title *ngIf="configuracion.modo_simple == 1" (click)="diTTS('speak app')">SpeakApp</ion-title>
        <ion-button slot="end" (click)="createPopover();" style="max-width: 30%;">
          <ion-icon name="person-outline" slot="start" style="border-radius: 50%; display: inline-block; border: 1px solid black; padding: 0.2em;" [ngStyle]="{ 'background-color': usuarioSeleccionado.color }"></ion-icon>
          <ion-label style="max-width: 70%;"> {{ usuarioSeleccionado.nombre }} </ion-label>
        </ion-button>
  </ion-toolbar>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="5">
          <ion-select *ngIf="configuracion.modo_simple == 0" [interfaceOptions]="customPopoverOptions" [(ngModel)]="asistenteSeleccionado" [(value)]="asistenteSeleccionado" (ngModelChange)="cambiaAsistente()" interface="popover">
            <ion-select-option value="0">(Ninguno ❌)</ion-select-option>
            <ion-select-option *ngFor="let asistente of asistentes" [value]="asistente.id"> {{ asistente.inicial }} | {{ asistente.final }} </ion-select-option>
          </ion-select>
          <ion-select (click)="diTTS('Asistente')" *ngIf="configuracion.modo_simple == 1" [interfaceOptions]="customPopoverOptions" [(ngModel)]="asistenteSeleccionado" [(value)]="asistenteSeleccionado" (ngModelChange)="cambiaAsistente()" interface="popover">
            <ion-select-option value="0">(❌)</ion-select-option>
            <ion-select-option *ngFor="let asistente of asistentes" [value]="asistente.id"> {{ emojiString.emojisOrText(asistente.inicial) }} | {{ emojiString.emojisOrText(asistente.final) }} </ion-select-option>
          </ion-select>
        </ion-col>
        
        <ion-col size="3">
          <ion-tab-button *ngIf="configuracion.modo_simple == 0" (click)="ventanaTextoManual()">
            <ion-icon name="chatbox-ellipses-outline"></ion-icon>
            <ion-label>Manual</ion-label>
          </ion-tab-button>
          <ion-tab-button *ngIf="configuracion.modo_simple == 1" (click)="diTTS('Acción manual'); ventanaTextoManual()">
            <ion-icon name="chatbox-ellipses-outline"></ion-icon>
          </ion-tab-button>
        </ion-col>

        <ion-col size="4">
          <ion-tab-button (click)="iniciaSTT()" *ngIf="tienePermisoSTT()" style="padding: 0px;">
            <ion-icon name="mic-outline"></ion-icon>
            <ion-label *ngIf="configuracion.modo_simple == 0">Escuchar</ion-label>
          </ion-tab-button>
          <ion-tab-button (click)="pidePermisoSTT()" *ngIf="!tienePermisoSTT()" style="padding: 0px;">
            <ion-icon name="mic-off-outline"></ion-icon>
            <ion-label *ngIf="configuracion.modo_simple == 0">Escuchar</ion-label>
          </ion-tab-button>
        </ion-col>

      </ion-row>

    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-button *ngIf="usuarioSeleccionado.nombre == 'debug'" (click)="databaseService.alertDatabaseInfo()">Info BDD</ion-button>
  <ion-button *ngIf="usuarioSeleccionado.nombre == 'debug'" (click)="databaseService.borraBDD()">Borrar BDD</ion-button>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Grupo 1</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Grupo 2</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="square"></ion-icon>
      <ion-label>Grupo 3</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
