<div style="margin-top: 130px;"></div>
<ion-grid>
  <ion-row>
    <ion-col *ngIf="!modoGrupo && configuracion.modo_simple == 0" size="5">
      <ion-button expand="block" (click)="conmutarModoGrupo()">
        Agrupar 
        <ion-icon style="min-width: 24px;" name="copy-outline"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col *ngIf="modoGrupo && configuracion.modo_simple == 0" size="2">
      <ion-button expand="block" (click)="conmutarModoGrupo()">
        <ion-icon style="min-width: 24px;" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col *ngIf="!modoGrupo && configuracion.modo_simple == 0" size="7">
      <ion-button expand="block" (click)="crearAccionPopover()">
        Añadir acción 
        <ion-icon style="min-width: 24px;" name="add-outline"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col *ngIf="modoGrupo && configuracion.modo_simple == 0" size="6">
      <ion-button expand="block" (click)="reproducirAccionesSeleccionadas()">
        Reproducir 
        <ion-icon style="min-width: 24px;" name="play-outline"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col *ngIf="modoGrupo && configuracion.modo_simple == 0" size="4">
      <ion-button expand="block" (click)="borrarAccionesSeleccionadas()" color="danger">
        Borrar 
        <ion-icon style="min-width: 24px;" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4" *ngFor="let accion of acciones">
      <div style="text-align: center; background-color:steelblue; padding: 3px 0px;" (click)="abrirAccionPopover(accion)">
        <p *ngIf="modoGrupo" style="text-align: center; border-bottom: 1px solid black;">{{ obtenIndiceSeleccionada(accion) ? obtenIndiceSeleccionada(accion) : "-" }}</p>
        <!-- <ion-icon style="font-size: 80px" name="cloud-outline"></ion-icon> -->
        <p style="font-size: 50px; padding: 0; margin: 20px 0;">{{ accion.imagen }}</p>
        <p *ngIf="configuracion.modo_simple == 0">{{ accion.titulo }}</p>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col *ngIf="!(acciones.length)">
      <ion-title text-center>No hay acciones</ion-title>
    </ion-col>
  </ion-row>
</ion-grid>
