<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content [fullscreen]="true"> -->
<ion-content>
  <div style="margin-top: 130px;"></div>
  <!-- <ion-header collapse="condense"> -->
  <!-- <ion-header>
    <ion-toolbar>
      <ion-title size="small">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <ion-grid>
    <ion-row>
      <!-- <ion-col size="4">
        <div style="text-align: center; background-color:steelblue; padding: 3px 0px;" (click)="ventanaAccion()">
          <ion-icon style="font-size: 80px" name="alarm-outline"></ion-icon>
          <p>Alarma</p>
        </div>
      </ion-col> -->

      <!-- <ion-col size="4" *ngFor="let c of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]; let i = index;">
        <div style="text-align: center; background-color:steelblue; padding: 3px 0px;">
          <ion-icon style="font-size: 80px" name="cloud-outline"></ion-icon>
          <p>Básica {{i+1}}</p>
        </div>
      </ion-col> -->
      <ion-col size="4" *ngFor="let accion of acciones">
        <div style="text-align: center; background-color:steelblue; padding: 3px 0px;" (click)="createPopover(accion)">
          <!-- <ion-icon style="font-size: 80px" name="cloud-outline"></ion-icon> -->
            <p style="font-size: 50px; padding: 0; margin: 20px 0;">{{ accion.imagen }}</p>
          <p>{{ accion.titulo }}</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngIf="!(acciones.length)">
        <ion-title text-center>No hay acciones</ion-title>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
