<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div style="margin-top: 130px;"></div>
  <ion-grid>
    <ion-row>
      <ion-col size="8">
        <ion-button expand="block" (click)="crearAccionPopover()">Añadir acción</ion-button>
      </ion-col>
      <ion-col *ngIf="!modoGrupo" size="4">
        <ion-button expand="block" (click)="conmutarModoGrupo()">Agrupar</ion-button>
      </ion-col>
      <ion-col *ngIf="modoGrupo" size="4">
        <ion-button expand="block" (click)="conmutarModoGrupo()">Volver</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" *ngFor="let accion of acciones">
        <div style="text-align: center; background-color:steelblue; padding: 3px 0px;" (click)="abrirAccionPopover(accion)">
          <p *ngIf="modoGrupo" style="text-align: center; border-bottom: 1px solid black;">{{ obtenIndiceSeleccionada(accion) ? obtenIndiceSeleccionada(accion) : "-" }}</p>
          <ion-icon style="font-size: 80px" name="cloud-outline"></ion-icon>
          <p>{{ accion.titulo }}</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngIf="!(acciones.length)">
        <ion-title text-center>No hay acciones</ion-title>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
