<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div style="margin-top: 150px;"></div>

  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let c of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]; let i = index;">
        <div style="text-align: center; background-color:steelblue; padding: 3px 0px;">
          <ion-icon style="font-size: 80px" name="add-circle-outline"></ion-icon>
          <p>Personal. {{i+1}}</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
