<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sobre nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Asistentes sin barreras</h1>
  <p>Aplicación que pretende facilitar la comunicación usuario-asistente a aquellas personas con dificultades para hablar.</p>
  <p>Proyecto de fin de grado de Ingeniería Multimedia realizado en la Universidad de Alicante.</p>
  <p>Desarrollado por Carlos Santiago <span style="white-space: nowrap;">(<a href="https://carlosbsp.com">Porfolio<ion-icon name="open-outline"></ion-icon></a>).</span> Tutorizado por Sergio Luján y Santiago Melia.</p>
</ion-content>
