<ion-content>
  <ion-title>Acción personalizada</ion-title>
  <ion-item *ngFor="let fila of filas">
    <ion-icon name="arrow-up"></ion-icon>
    <ion-icon name="arrow-down"></ion-icon>
    <ion-input [(ngModel)]="fila.texto" [ngStyle]="{ 'color': colorDependiendoDelTipo(fila.tipo) }"></ion-input>
  </ion-item>
  <section style="text-align: center;">
    <ion-button (click)="closePopover()">Cancelar</ion-button>
    <ion-button (click)="reproducirTexto()">Crear</ion-button>
  </section>
</ion-content>