<ion-header>
  <ion-toolbar>
    <ion-buttons (click)="pararTTS()" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>SpeechApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center;">

  <ion-title style="margin: 20px;" *ngIf="estaReproduciendo()">Reproduciendo</ion-title>
  <ion-title style="margin: 20px;" *ngIf="estaGrabando()">Escuchando</ion-title>

  <ion-spinner style="width: 80px; height: 80px; margin: 20px;" *ngIf="estaReproduciendo() || estaGrabando()" name="crescent"></ion-spinner>
  <ion-card>
    <ion-card-header>Esto es lo que he entendido</ion-card-header>
    <ion-card-content>
      <ion-list>
        <!-- <ion-item *ngFor="let coincidencia of coincidencias">
          {{ coincidencia }}
        </ion-item> -->
        <ion-item>
          {{ primeraCoincidencia }}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
