<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Gestión de perfiles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button [routerLink]="['crear-perfil']">Crear perfil</ion-button>
  <ion-card *ngFor="let usuario of usuarios">
    <ion-item class="ion-activated" (click)="veAlPerfil(usuario.id)">
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-label> {{ usuario.nombre }} </ion-label>
    </ion-item>
  </ion-card>
</ion-content>
