<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Gestión de acciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>

  <ion-item>
    <ion-title size="small">
      Orden de las acciones
    </ion-title>
  </ion-item>
  <ion-item>
    <ion-segment color="secondary" value="alfabetico">
      <ion-segment-button value="alfabetico">
        <ion-label>Alfabético</ion-label>
        <ion-icon name="text"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="recientes">
        <ion-label>Recientes</ion-label>
        <ion-icon name="calendar"></ion-icon>
      </ion-segment-button>

    </ion-segment>
  </ion-item>
  
</ion-content>
